.props-container{
    gap: 2rem;
    margin-left: 300px;
}
 .search-bar{
width:50rem;
border-radius: 30px;
border: 3px   solid rgba(121, 174, 232, 0.521);
flex-wrap: nowrap;
margin-left: 40%;
}

.props-container .search-bar .button{
    border-radius: 30px;
    font-size: 12px;
    padding: 15px 15px;
    position: absolute;
    left: 890px;
    top: 112px;
}

.props-container .search-bar input{
    width: 50%;
}